version: "3.8"

services:
  db:
    image: postgres:15-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: strapi
      POSTGRES_PASSWORD: strapi
      POSTGRES_DB: strapi
    volumes:
      - /volume1/boardshop/db:/var/lib/postgresql/data

  strapi:
    image: dunadigital/strapi:latest
    restart: unless-stopped
    depends_on:
      - db
    environment:
      DATABASE_CLIENT: postgres
      DATABASE_HOST: db
      DATABASE_PORT: 5432
      DATABASE_NAME: strapi
      DATABASE_USERNAME: strapi
      DATABASE_PASSWORD: strapi
      APP_KEYS: "h7ki4S3U5r-H-Gl6wlMrf3IWSrj0LG2r0yiydRARzq0,uDt85MYBj89KcuFWKKmmimVwXWQ-lYURW3H-adknwoo,2jjCoI404Z-rNeb9JwdwkUINTu55PtbhTycm9vjQPCQ,Lt0Esqh9IyZnSVx9E-9yO5ognDX4eOG-XcPlriorrdc"
      API_TOKEN_SALT: "pygzq7ivW52JMn2_9I2xUJUtb87y5a9-3wz6YYc1ZU4"
      ADMIN_JWT_SECRET: "B3lKpqxsOT3-JPyfFJLhn26bxsR5q8XxDZbpSCqmsR8"
      JWT_SECRET: "rbKgoHnNICCmMKWtguLsry4qlDDO-v5zQQt_d1oZyD0"
    volumes:
      - /volume1/boardshop/strapi:/srv/app
    ports:
      - "1337:1337"

  frontend:
    build: .
    depends_on:
      - strapi
    ports:
      - "8080:80"

volumes:
  db-data:
